.navbar-container {
  height: 80px;
}
.brand {
  font-weight: 700;
  font-family: var(--font-family);
  text-decoration: none;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--textColor);
  font-family: var(--font-family);

  &:hover {
    color: var(--accent-color2);
  }
}

.link_user {
  background-color: var(--button);
  padding: 0.2rem 1.2rem;
  border-radius: 10px;
  color: var(--background);
  opacity: 0.9;
  margin-left: 2rem;
  &:hover {
    color: var(--background);
    opacity: 1;
  }
}
