//Chip Visibility
.visibleEl {
  display: block;
}

.hiddenEl {
  display: none;
}

//Center button group
.center-btn {
  display: block;
  margin: auto;
}

.manuscript-text {
  font-family: var(--font-family);
  color: var(--textColor);
  font-size: var(--h1);
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 2px;
}
